# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[defaults]
host_key_checking = False
inventory = inventory
retry_files_enabled = True
retry_files_save_path = /etc/ansible/.ansible-retry





#[ssh_connection]
#ssh_args = -o PasswordAuthentication=yes -o PubkeyAuthentication=no -o PreferredAuthentications=keyboard-interactive,password
#sshpass_prompt = "please enter root password"
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10


#dont validate the VMs we connect to, towards the known_hosts file, but a record of the remote host will be still added to the known_hosts file.  
#host_key_checking = false

#use this key to cerify for ssh
#private_key_file=/root/.ssh/id_rsa 

#use these credentials
#ansible_user = root
#remote_user = root


